<phpunit>

    <testsuites>
        <testsuite name="Library tests">
            <directory>tests/*Test.php</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">/src</directory>
        </whitelist>
    </filter>

</phpunit>
